# ignore compiled Python files
*.pyc

# ignore pickle files
*.pkl

# ignore the database
db.sqlite3

# ignore log files
*.log

# ignore uploads
upload/*

# ignore collected static files
/static

# ignore SAML certificate data
saml/cert/*
